.title {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pt {
    background-color: greenyellow;
}

table,
th,
td {
    border: 2px solid rgb(161, 158, 158);
    height: 40px;
    font-size: large;
}

thead {
    background-color: lightgrey;
}

.row:hover {
    background-color: grey;
}

.dropdown:hover {
    border: 2px solid green;
}

select {
    font-size: large;
}

.name {
    padding: 0 30px;
}

.leave {
    background-color: rgb(243, 252, 184);
}

.unknown {
    background-color: lightyellow;
}
